@mixin column($gap: 10px) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin space-between($gap: 10px) {
  display: flex;
  justify-content: space-between;
  gap: $gap;
}

@mixin info {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;

  span {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
